.container_login {
  background-color: transparent;
  height: calc(100vh - 70px);
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--mb-1-5);
}

.loginContent,
.loginForm,
.loginInputs {
  display: grid;
}

.loginContent {
  position: relative;
  height: calc(100vh - 80px);
  align-items: center;
  background-color: var(--blue-color);
}

.iconBack svg {
  fill: var(--title-color);
  position: absolute;
  width: 23rem;
  right: 590px;
  left: 0;
  top: 100px;
  bottom: 0;
  margin: auto;
}

.loginForm {
  position: absolute;
  justify-self: center;
  margin: auto;
  background-color: var(--main-color-transp);
  border: hsla(244, 16%, 92%, 0.75);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

.loginTitle {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.loginTitle span {
  color: var(--first-color);
}

.loginDescription {
  font-size: var(--small-font-size);
}

.loginInputs {
  row-gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.loginLabel {
  display: block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}

.loginInput {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsla(244, 16%, 92%, 0.6);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border 0.4s;
}

.loginInput::placeholder {
  color: var(--text-color);
}

.loginInput:focus,
.loginInput:valid {
  border: 2px solid var(--first-color);
}

.loginBox {
  position: relative;
}

.loginBox .loginInput {
  padding-right: 36px;
}

.loginEye {
  width: max-content;
  height: max-content;
  position: absolute;
  right: 0.3rem;
  top: 7px;
  margin: auto 0;
  font-size: 1rem;
  cursor: pointer;
  z-index: 100;
  width: 25px;
height: 25px;
padding: .1rem;
}

.loginCheck {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.loginCheck_input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  background-color: hsla(244, 16%, 92%, 0.2);
  border-radius: 0.25rem;
}

.loginCheck_input:checked {
  background-color: var(--first-color);
}

.loginCheck_input:checked::before {
  content: "✔️";
  display: block;
  columns: #fff;
  font-size: 0.75rem;
  transform: translate(1.5px, -2.5px);
  color: white;
}

.loginCheck_label {
  font-size: var(--small-font-size);
}

.loginButtons {
  display: flex;
  column-gap: 0.75rem;
}

.loginButton {
  width: 100%;
  padding: 14px 2rem;
  border-radius: 6px;
  background:  var(--blue-color);
  color: #fff;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  /* box-shadow: 0 6px 24px var(--blue-color); */
  margin-bottom: 1rem;
  cursor: pointer;
}

.loginButton_ghost {
  background: hsla(244, 16%, 92%, 0.6);
  border: 2px solid var(--first-color);
  color: var(--first-color);
  box-shadow: none;
  text-align: center;
}



.login__forgot {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  text-decoration: none;
}

.loginInput_error {
  font-size: var(--small-font-size);
  color: rgb(169, 24, 24);
}
.loginForm_error {
  margin-bottom: 1.9rem;
  height: 5px;
  margin-top: -15px;
}
.loginForm_error_text {
  font-size: var(--normal-font-size);
  color: rgb(217, 30, 30);
  max-width: fit-content;
  font-weight: var(--font-bold);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
  .loginButtons {
    flex-direction: column;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .loginForm {
    width: 450px;
    justify-self: center;
  }
}

/* For large devices */
@media screen and (min-width: 1064px) {
  .container_login {
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
  }

  .loginImg {
    border-radius: 3.5rem;
    box-shadow: 0 24px 48px hsla(244, 75%, 36%, 0.45);
  }
}

@media screen and (min-width: 1200px) {
  .loginContent {
    height: 700px;
  }

  .loginForm {
    row-gap: 2rem;
    padding: 3rem;
    border-radius: 1.25rem;
    border: 2.5px solid hsla(244, 16%, 92%, 0.75);
  }

  .loginDescription,
  .loginLabel,
  .loginButton {
    font-size: var(--normal-font-size);
  }

  .loginInput {
    row-gap: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .loginInput {
    border: 2.5px solid var(--text-color);
    padding: 1rem;
    font-size: var(--small-font-size);
  }

  .loginInput:focus,
  .loginInput:valid {
    border: 2.5px solid var(--first-color);
  }

  .loginButton {
    padding-block: 1rem;
    margin-bottom: 1.25rem;
  }

  .loginButton_ghost {
    border: 2.5px solid var(--first-color);
  }
}
