
.post__content {
    position: relative;
    background: var(--blue-color);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;

  }
  .description__post {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 20%;
    padding: 1rem 0;
    background-color: #1e1e1e3b;
    bottom: 0;
  }

  .tag__content {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    gap: .2rem;
    z-index: 99;
  }

  .tag__item {
    background-color: var(--blue-color);
    color: var(--white);
    padding: 3px 4px;
    border-radius: 8px;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    font-family: var(--roboto-font);
  }
  
  .post__img {
    width: 100%;
    transition: .3s;
    aspect-ratio: 16 / 9;  
    object-fit: cover;
  }
  
  .post__title {
    color: #fff;
    transition: .3s;
  }
  .post__content:hover .post__img,.post__content:hover .post__title {
    transform: translateY(-.5rem);
  }

  .post__content:hover .tag__item {
    background-color: rgb(28, 28, 112);
  }
  
  @media screen and (min-width: 992px){
    
  
  }